/* /* On mouse hover, lighten state color */
/* path:hover {
    fill-opacity: .7;
    background-color: rgb(167, 77, 78);
} */



/* html {
    position: relative;
    min-height: 100%;
} */

body {
    /* background-color: black; */
    font-family: 'Verdana', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 12px;
    font-weight: 400;
    color: black;
    text-align: left;
    /* width: 960px; */
    /* height: 700px; */
    /* margin-top: 10px; */
}

h3 {
    color: black;
    text-align: center;
}

h4 {
    color: black;
    text-align: left;
}


/* #myDiv:hover {
    background-color: #555;
} */


/* text {
    font-size: 12px;
} */